<div class="shot animated rollIn">
    <a href="{{shot.imageUrl}}">
        {{#if options.hd}}
        <img src="{{shot.imageUrl}}" alt="{{shot.imageUrl}}">
        {{else}}
        <img src="{{shot.imageTeaserUrl}}" alt="{{shot.imageTeaserUrl}}">
        {{/if}}
    </a>
</div>
