<div class="shot animated rollIn">
    {{#if options.hd}}
    <img src="{{shot.image_url}}" alt="{{shot.image_url}}">
    {{else}}
    <img src="{{shot.image_teaser_url}}" alt="{{shot.image_teaser_url}}">
    {{/if}}
</div>
